body{
    background-color: rgb(155, 224, 99);
    font: normal 15pt Arial;
    
}

header{
    color: yellow;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color:blue;
    box-shadow: 5px /*deslocamento lateral*/ 5px /*deslocamento vertical*/ 10px /*espalhamento*/ rgba(0, 0, 0, 0.363);
}

footer{
    color: yellow;
    text-align: center;
    font-style: italic;
}

img{
    margin: 20px;
}